<div class="form-wrapper">
  <h2 class="title">Login</h2>
  <form (ngSubmit)="onSubmit(form)" #form="ngForm">
    <label for="login">
      <span>login</span>
      <input
        required
        id="login"
        type="text"
        ngModel
        name="login">
    </label>
    <label for="password">
      <span>password</span>
      <input
        required
        id="password"
        type="password"
        name="password"
        ngModel>
    </label>
    <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Login</button>
  </form>
</div>
