header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.search-container{
  display: flex;
  align-items: center;
}
.profile{
  &-link{
    display: flex;
    align-items: center;
  }
  &-img {
    margin-left: 10px;
  }
}
