<header>
  <a routerLink="">
    <img class="logo-img" src="../assets/images/logo.svg" alt="Logo">
  </a>
  <div class="search-container">
    <form>
      <input type="text">
      <button class="btn-primary">Submit</button>
    </form>
    <button>
      <img src="../assets/images/settings.svg" alt="Settings">
    </button>
  </div>
  <a routerLink="" class="profile-link">
    <span>Your name</span>
    <img class="profile-img" src="../assets/images/profile.svg" alt="Profile Icon">
  </a>
</header>
