<header>
  <div class="container container-header">
    <a routerLink="">
      <img class="logo-img" src="../assets/images/logo.svg" alt="Logo" />
    </a>
    <div class="search-container">
      <form (submit)="$event.preventDefault()">
        <input type="text" />
        <button class="btn-primary" (click)="search.emit()">Search</button>
      </form>
      <button (click)="toggleSort()" class="btn-icon">
        <img src="../assets/images/settings.svg" alt="Settings" />
      </button>
    </div>
    <a routerLink="" class="profile-link">
      <span>Your name</span>
      <img
        class="profile-img"
        src="../assets/images/profile.svg"
        alt="Profile Icon"
      />
    </a>
  </div>
</header>
