.videos__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 20px;
}
.video__item {
  max-width: 270px;
  width: 100%;
}
.btn-loadmore{
  display: block;
  padding: 8px 16px 7px;
  margin: 40px auto 10px;
  border-radius: 5px;
}
