<div class="container" *ngIf="videos.length; else noVideos">
  <div class="videos__container">
    <div class="video__item" *ngFor="let video of videos"
    [ngSwitch]="video.kind">
        
        <app-video-item 
        *ngSwitchCase="videoType.Youtube"
        [video]="convert(video)">
        </app-video-item>

        <app-custom-item 
        *ngSwitchCase="videoType.Custom"
        [video]="convert(video)">
        </app-custom-item>
        
    </div>
  </div>
  <button class="btn-primary btn-loadmore btn-shadow" (click)="loadMoreVideos()">Load more</button>
</div>
<ng-template #noVideos>
  <p class="container">No videos...</p>
</ng-template>