<div class="card">
  <h4 class="title">Create new card</h4>

  <form class="card-form"
  #cardForm="ngForm"
  (ngSubmit)="onSubmit(cardForm)">
    <div class="form-group">
      <label for="title">Title:</label>
      <input id="title" type="text"
      ngModel
      name="title"
      required
      >
    </div>
    <div class="form-group">
      <label for="descr">Description:</label>
      <input id="descr" type="text"
      ngModel
      name="descr"
      required>
    </div>
    <div class="form-group">
      <label for="poster">Image:</label>
      <input id="poster" type="text"
      ngModel
      name="poster"
      required>
    </div>
    <div class="form-group">
      <label for="video">Video link:</label>
      <input id="video" type="text"
      ngModel
      name="video"
      required>
    </div>

    <button
    [disabled]="!cardForm.valid"
    type="submit"
    class="btn-primary">
      Create card
    </button>
  </form>
</div>
