/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap");

:root {
  --accent-color: #2f80ed;
  --card-bg-primary: #f1f1f1;
  --bg-grey-primary: #f1f1f1;
  --red: #eb5757;
  --green: #27ae60;
  --yellow: #f2c94c;
  --btn-primary-box-shadow: 0 2px 4px var(--accent-color);
  --text-grey: #828282;
}
$red: #eb5757;
$green: #27ae60;
$yellow: #f2c94c;
$blue: #2f80ed;

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}
button {
  padding: 4px 10px;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  &:disabled {
    opacity: 0.5;
    cursor: default;
  }
}
a.btn-primary,
button.btn-primary {
  background-color: var(--accent-color);
  color: #fff;
  border: none;
  padding: 4px 10px;
  font-size: 14px;
  &:disabled {
    opacity: 0.5;
    cursor: default;
  }
}
button.btn-icon {
  background-color: transparent;
  padding: 0;
  border: none;
  > img {
    display: block;
  }
}

input {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  &--large {
    max-width: 1600px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

a.btn-link {
  display: inline-block;
  color: #fff;
  background-color: var(--accent-color);
  padding: 7px 30px 6px;
  border-radius: 5px;
}

.btn-shadow {
  box-shadow: var(--btn-primary-box-shadow);
}
